In [39]:
import pandas as pd

# Load the CSV files into pandas dataframes
weather_data = pd.read_csv("Weather_data.csv", dtype={'STATION': 'string'})
power_plants_data = pd.read_csv("Power_Plants_in_the_U.S.csv")

# Convert the 'DATE' column to datetime format in weather_data
weather_data['DATE'] = pd.to_datetime(weather_data['DATE'])

# Round latitude and longitude columns for better matching
weather_data['LATITUDE'] = weather_data['LATITUDE'].round(4)
weather_data['LONGITUDE'] = weather_data['LONGITUDE'].round(4)
power_plants_data['Latitude'] = power_plants_data['Latitude'].round(4)
power_plants_data['Longitude'] = power_plants_data['Longitude'].round(4)

In [44]:
# Aggregate the weather data to make it more manageable
columns_to_aggregate = ['LATITUDE','LONGITUDE','TEMP', 'DEWP', 'SLP',
                         'STP', 'VISIB', 'WDSP', 
                         'MXSPD', 'GUST', 'MAX', 'MIN', 'PRCP',
                         'SNDP', ]
weather_subset = weather_data[columns_to_aggregate]

# Group by the monthly period (to match the natural gas data) and aggregate weather data for the selected columns
aggregated_weather_data = weather_subset.groupby(['LATITUDE', 'LONGITUDE', weather_data['DATE'].dt.to_period("M")]).agg('mean').reset_index()

aggregated_weather_data

,LATITUDE,LONGITUDE,DATE,TEMP,DEWP,SLP,STP,VISIB,WDSP,MXSPD,GUST,MAX,MIN,PRCP,SNDP
0,41.2747,-85.840,2022-01,22.132258,14.416129,9999.900000,923.938710,8.912903,6.619355,13.222581,241.948387,29.967742,14.754839,74.186129,999.9
1,41.2747,-85.840,2022-02,27.142857,19.717857,9999.900000,953.521429,8.582143,7.207143,14.192857,161.335714,35.600000,19.850000,67.850357,999.9
2,41.2747,-85.840,2022-03,39.654839,29.858065,9999.900000,984.245161,9.138710,7.264516,15.677419,117.974194,51.161290,31.303226,48.382258,999.9
3,41.2747,-85.840,2022-04,45.826667,35.430000,9999.900000,984.483333,9.480000,7.633333,15.743333,22.050000,55.760000,38.300000,79.992000,999.9
4,41.2747,-85.840,2022-05,62.616129,50.967742,9999.900000,983.735484,9.470968,5.912903,12.867742,83.425806,73.225806,53.890323,48.382258,999.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3978,47.4674,-87.875,2023-08,63.364516,56.154839,1013.758065,926.880645,999.900000,5.838710,11.190323,463.370968,72.983871,55.067742,0.089355,999.9
3979,47.4674,-87.875,2023-09,60.943333,54.590000,1017.326667,928.130000,999.900000,5.803333,10.663333,216.890000,69.066667,53.250000,0.063000,999.9
3980,47.4674,-87.875,2023-10,49.593548,42.380645,1014.109677,991.135484,999.900000,8.841935,15.880645,88.006452,56.258065,43.758065,0.063871,999.9
3981,47.4674,-87.875,2023-11,37.793333,28.070000,1015.086667,891.506667,999.900000,9.896667,16.463333,59.930000,44.536667,30.950000,0.048333,999.9
3982,47.4674,-87.875,2023-12,36.155172,29.365517,1016.893103,786.303448,999.900000,8.034483,15.300000,161.844828,41.934483,30.210345,0.059655,999.9